.contactMain{
    background-color: #fff;
}
.maps{
    background-image: url(../assets/contact/Google-Maps.png);
    max-width:980px;
    height: 320px;
    background: cover no-repeat center;
    margin: 0 auto;
}
.contactMain h1, 
.contact h3{
    text-align: center;
    font-family: montserrat;
    font-weight: 600;
    color: var(--azul-secondary);
}
.contactMain h1{
    margin-top: 1.5rem;
}
.contactMain h3{
    font-size: 1.2em;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}
.contact-form{
    display: flex;        
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
   
    
}

.contact-form .trip img{
    width: 8rem;
}
.selos-contact{    
      display: flex;
      flex-direction: column;
      align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;    
    gap: .5em;
    margin-top: 1.5rem;
}

form input, 
textarea{
    width: 100%;
    background-color: var(--azul-primary);
    border: none;
    color: #fff;
    padding: .2rem 1rem;
    font-size: .9em;
    border-radius: .5em;
}
form input::placeholder, 
textarea::placeholder{
    color: #fff    
}

form .btn{
    background-color: var(--azul-secondary);
    align-self: flex-end;
    padding: .2em 1em;
    margin-bottom: 2em;
}

.clubMapContact{
    display: flex;
    margin: 0  auto;
    max-width: 980px;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
}

.clubMapContact h3{
    font-size: 1rem;
    font-weight: 500;
    color: var(--azul-primary);
    text-align: left;
}
.clubMapContact p{
    font-size: .8rem;
    color: var(--azul-primary);
}
.clubMapContact a{
    text-decoration: none;
    color: var(--azul-primary);
}

.clubMapContact i{
    font-size: 1.5rem;
    color: var(--azul-primary);
}

.cont{
    display: flex;
    gap: .5rem;
}

.directContacts{
    display: flex;
    flex-direction: column;
    gap:1.5rem;    
}
.socialIcons{
    position: relative;
    display: flex;
    gap:.5rem;
    bottom:-20px;
    
}